

body {
    background: linear-gradient(to bottom, #bdc3c7, #2c3e50ca);
}

h1 {
    text-align: center;
}

.blurb {
    margin-left: 10%;
    font-size: 30px;
}

footer{
    margin-top: 100%;
}