blurb {
    background-color: beige;
}
html {
    background: linear-gradient(to bottom, transparent, mistyrose), url("suave_tony.jpeg");
    background-position: auto;
    background-repeat: no-repeat;
    background-size: 50%;
}